body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main_picture {
    width: 400px;
    height: 280px;
}

h1 {
    font-size: 47px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 0px;
}

h3 {
    margin: 0px;
    color: #F9FAF8;
    font-size: 24px;
}

.main {
    background-color: #1F2937;
    padding-bottom: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}



.first_part {
    display: flex;
    justify-content: space-between;
    margin: 20px 150px 75px 150px;
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 280px;
    gap: 24px;
}

#main_text {
    color: #E5E7EB;
    font-size: 18px;
}

.button {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(33, 100, 245);
    border: none;
    width: 140px;
    padding: 7px;
    border-radius: 10px;
}

#information_header_text {
    display: flex;
    justify-content: center;
    padding: 45px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.information {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 32px;
}

.second_part {
    display: flex;
    flex-direction: column;
}

.third_part {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E5E7EB;
    padding: 100px;
    padding-bottom: 70px;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.author {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.image {
    border: 5px solid  rgb(33, 100, 245);
    width: 190px;
    height: 170px;
    border-radius: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: auto;
    color: #1F2937;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.fourth_part {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}
.call_to_action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 140px;
    background-color: rgb(33, 100, 245);
    border-radius: 10px;
    color: #F9FAF8;
    justify-content: space-evenly;
}

.action_call {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#call {
    font-size: 21px;
    font-weight: bold;
}

#button_end {
    background-color: rgb(33, 100, 245);
    border: 2px solid #F9FAF8;
    padding: 7px;
    width: 140px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}